*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(52, 57, 154);
    color: white;
    min-height: 100vh;
    width: 100%;
}
header{
    width: 100%;
}
nav{
    min-width: 100%;
    height: 4em;
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* background-color:rgb(82, 69, 202); */
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, rgb(49, 125, 177) 0%, rgb(55, 60, 155) 100%);
    overflow: auto;
}

.right ul{
    display: flex;
    list-style-type: none;
}

.right a{
    color: white;
    text-decoration: none;
    margin-left: 45px;
    padding: 0 15px;
}

.right a:hover{
    color: rgb(86, 145, 228);
    background-color: white;
    border-radius: 30px;
}

.left{
    font-size: 1.5rem;
}

/* Section 1 */
.sec1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 50px 0;  */
    height: 100vh;
}

.sec1 .left-sec{
    font-size: 3rem;
    width: 50%;
}

.highlight{
    color: rgb(96, 169, 224);
}

#element{
    color: rgb(96, 169, 224);
}

.btn{
    width: 200px;
    padding: 10px 30px;
    border: 3px solid rgb(96, 169, 224);
    border-radius: 30px;
    font-weight: 800;
    color: rgb(96, 169, 224);;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(96, 169, 224);
    color: white;
}
.sec1{
    height: 100vh;
}
.sec1 .right-sec{
    /* background-color: red; */
    width: 30%;
    
}

.sec1 .right-sec img{
    width: 80%;
}

/* line */
.line{
    margin: 20px auto;
    background-color: aqua;
    height: 1px;
    width: 90%;
}

/* section-2/About */
.sec2{
    height: 100vh;
    display: flex;
}
.sec2 .about{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin: auto;
}

.img-cont{
    border: 3px solid rgb(96, 169, 224);
    margin: auto;
    width: 250px;
    height: 210px;
    border-radius: 51%;
}

.img-cont img{
    height: 210px;
    width: 250px;
    border-radius: 50%;
}

.about p{
    font-style: italic;
    margin: 50px 0;
}

span{
    color: rgb(96, 169, 224);
}

.about h2{
    text-decoration: underline;
    text-decoration-color: rgb(96, 169, 224);
    margin-bottom: 20px;
    margin-bottom: 50px;
}

/* section-3/Projects */

.sec3{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec3 h2{
    text-decoration: underline;
    text-decoration-color: rgb(96, 169, 224);
}

.sec3 .container{
    display: flex;
    justify-content: space-around;
}

.card img{
    height: 300px;
    width: 300px;
}

.layer p{
    text-align: center;
}

/* Section-3/skills */
.sec4{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec4 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(66, 64, 64);
    width: 95%;
    height: 80vh;
}
.heading{
    display: inline;
}
#skillTag{
    text-decoration: underline;
    text-decoration-color: rgb(96, 169, 224);
}

.skills{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:10px;
}
.skills img{
    height: 100px;
    width: 100px;
}