*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(161, 206, 234);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calcy{
    background-color: rgb(20, 20, 20);
    padding: 20px;
    border-radius: 20px;
    
}

.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.display input{
    text-align: right;
    flex: 1;
    font-size: 30px;
    padding: 10px;
}
.row .btn{
    border: 1;
    outline: 0;
    width: 80px;
    height: 70px;
    border-radius: 10px;
    background: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 8px;
}
#equal{
    width: 280px;
}